{:paths ["src"]
 :aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "LATEST"}}}
           :test
           {:extra-paths ["test"]
            :extra-deps
            {lambdaisland/kaocha {:mvn/version "1.0.732"}
             lambdaisland/kaocha-cljs {:mvn/version "0.0-71"}}}
           :benchmark {:extra-deps
                       {criterium/criterium {:mvn/version "0.4.6"}}}
           :profile {:extra-deps
                     {com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.1"}}
                     :jvm-opts ["-Djdk.attach.allowAttachSelf"
                                "-XX:+UnlockDiagnosticVMOptions"
                                "-XX:+DebugNonSafepoints"]}
           :release
           {:extra-deps {applied-science/deps-library {:mvn/version "0.4.0"}}
            :main-opts ["-m" "applied-science.deps-library"]}}}
